<!DOCTYPE html>
<html ng-app="parksAndEx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parks and Exploration</title>
    <meta name="description" content="A Resource for park info">
    <meta name="Charlies Angulars" content="CharliesAngular">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvP71A4zQ3bBjri75-1y6AaLP3s-JfNO0&libraries=places"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="app/app.js"></script>
    <script src="app/homescreen/homescreen.js"></script>
    <script src='app/filter/filter.js'></script>
    <script src='app/description/description.js'></script>
    <script src="app/services/services.js"></script>
    <script src="app/species/species.js"></script>
    <script src="app/campgrounds/campgrounds.js"></script>
    <script src="assets/park_category.js"></script>
    <script src="app/weather/weather.js"></script>
    <script src="app/yelpReviews/yelpCtrl.js"></script>
    <script src="app/toggleNavbar/toggleNavbar.js"></script>

</head>

<body>
  <div ng-controller="homescreenController">
    <div ng-hide="searchStatus">
      <div id="popup">
        <div id="searchBox">
          <label>Search For Park By Location or Name</label>
          <input id="location" type="text" name="searchText" value="Mission Dolores Park" ng-model="searched" placeholder="ex: San Francisco, CA or Yosemite">
          <button id="searchButton" ng-click="submitSearch(searched)">Search</button>
        </div>
      </div>
    </div>
    <div ng-show="searchStatus" id="detailDisplay">
    <span id="logo"> <img src="assets/logo.png"/> </span>
	<span class="about"> About the Developers</span>
	<span class="aboutbox"> <div id="everything">

<div class="entireBox">
  <div class="content">
    <div class="topSection">
      <img class="profImage" src="assets/ben.jpg" alt=""/>
      <h3 class="name">Ben Chen</h3>
      <h3 class="function">Product Owner</h3>
      <div class="links">
        <a href="https://github.com/byc219"><i class="github"><img class="leftImage socialIcon" src="assets/github.png"/></i></a>
        <a href="https://www.linkedin.com/in/benychen" class="center"><i class="linkedin"><img class="centerImage socialIcon" src="assets/linkedin.png"/></i></a>
        <a href="https://www.instagram.com/benchen90/"><i class="instagram"><img class="rightImage socialIcon" src="assets/instagram.gif"/></i></a>
      </div>
    </div>
  </div>
</div>

<div class="entireBox">
  <div class="content">
    <div class="topSection">
      <img class="profImage"  src="assets/michael.jpg" alt="">
      <h3 class="name">Michael Chen</h3>
      <h3 class="function">Development</h3>
      <div class="links">
        <a href="https://github.com/metamonkey8"><i class="github"><img class="leftImage socialIcon" src="assets/github.png"/></i></a>
        <a href="www.linkedin.com/in/michaelchen8888" class="center"><i class="linkedin"><img class="centerImage socialIcon" src="assets/linkedin.png"/></i></a>
        <a href="https://instagram.com/"><i class="instagram"><img class="rightImage socialIcon" src="assets/instagram.gif"/></i></a>
      </div>
    </div>
  </div>
</div>

<div class="entireBox">
  <div class="content">
    <div class="topSection">
      <img src="assets/diana.jpg" class="profImage"  alt="">
      <h3 class="name">Diana Johnson</h3>
      <h3 class="function">Scrum Master</h3>
      <div class="links">
        <a href="https://github.com/dianajohnson13"><i class="github"><img class="leftImage socialIcon" src="assets/github.png"/></i></a>
        <a href="https://www.linkedin.com/in/dianajohnson13" class="center"><i class="linkedin"><img class="centerImage socialIcon" src="assets/linkedin.png"/></i></a>
        <a href="https://instagram.com/"><i class="instagram"><img class="rightImage socialIcon" src="assets/instagram.gif"/></i></a>
      </div>
    </div>
  </div>
</div>

<div class="entireBox">
  <div class="content">
    <div class="topSection">
      <img class="profImage"  src="assets/bo.jpg" alt="">
      <h3 class="name">Bo Yao</h3>
    <h3 class="function">Development</h3>
      <div class="links">
        <a href="https://github.com/Boyaohrbc"><i class="github"><img class="leftImage socialIcon" src="assets/github.png"/></i></a>
        <a href="https://www.linkedin.com/in/boyuyao" class="center"><i class="linkedin"><img class="centerImage socialIcon" src="assets/linkedin.png"/></i></a>
        <a href="https://instagram.com/"><i class="instagram"><img class="rightImage socialIcon" src="assets/instagram.gif"/></i></a>
      </div>
    </div>
  </div>
</div>
</div></span>
    <img id="logoImage" src="assets/lion.png" />
    <div id="totalContainer">
      <span id="filterMapContainer" ng-controller="filterController">
        <div id="filterContainer"> <!--Removed Dash from NG_controller-->
          <div id="filterTitle">
            <p>{{searchText}}</p>
          </div>
          <div id="filterContent" >
            <ul ng-repeat="loc in locations track by $index"> <!-- sort by distance then rating-->
              <li>
                <div  ng-class="{ 'filteredItemActive': $index == selectedIndex }" class="filteredItem" ng-click = "rerenderAll( $index, loc.latlng.lat, loc.latlng.lng, loc.name)" lat={{loc.latlng.lat}} lng={{loc.latlng.lng}}>{{$index + 1}}. <strong>{{loc.name}}</strong>
                  <div>{{loc.vicinity}}</div>
                  <div>Rating: {{loc.rating}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
          <div id="mapHolder" ngcontroller="mapsController">
            <span id="mapButton" class="mapButtonMini" ng-click="toggleSize($event)">+</span>
            <div id="map" class="smallMap"></div>
          </div>
        </span>
        <span id="totalDisplayContainer">
          <div id="descriptionContainer" ng-controller="descriptionController">
                  <p id="parkName">{{parkName}}</p>
                  <div  id="descriptionContent">{{description}}</div>
          </div>
            <div id="tabContainer" ng-controller="toggleNavbarController">
              <div id="navbar">
                <div id="navbarUl">
                  <span ng-class="{ 'navbarLiSelected': tab1 }" class="navbarLi" ng-click="reset(); tab1 = !tab1">Weather</span>
                  <span ng-class="{ 'navbarLiSelected': tab3 }" class="navbarLi" ng-click="reset(); tab3 = !tab3">Reviews</span>
                  <span ng-class="{ 'navbarLiSelected': tab4 }" class="navbarLi" ng-click="reset(); tab4 = !tab4">Wildlife</span>
                  <span ng-class="{ 'navbarLiSelected': tab5 }" class="navbarLi" ng-click="reset(); tab5 = !tab5">Campgrounds</span>
                </div>
              </div>
              <div id="tabContentHolder">
                <div id="weather" ng-controller="weatherController" ng-show="tab1">
                    <div class="today">
                      <div id="details">
                        <span id="currTemp"><strong>Current Temp</strong>: {{todaysWeather.currTemp}}</span>
                        <span id="todayDescription">{{todaysWeather.description}}</span>
                        <span id="todayMax"><strong>Max:</strong> {{todaysWeather.highTemp}}</span>
                        <span id="todayMin"><strong>Min:</strong> {{todaysWeather.lowTemp}}</span>
                      </div>
                    </div>
                  <div class="sevenDayforcast" ng-repeat="day in sevenDayForecast">
                    <div>
                      <span class="forecastDate"><strong>{{day.date}}</strong></span>
                      <span class="forcastedDescription">{{day.description}}</span>
                      <span class="forcastedHigh">High: {{day.highTemp}}</span>
                      <span class="forcastedLow">Low: {{day.lowTemp}}</span>
                    </div>
                  </div>
                </div>
                <div id="reviews" ng-controller="yelpController" ng-show="tab3">
                  <div class="allReviews" ng-repeat="park in parks">
                    <div class="reviewData">
                      <img class="thumbnail" ng-src="{{park.image_url}}">
                      <h3>{{park.name}}</h3>
                      <p class="phone">{{park.phone}}</p>
                      <p>{{park.snippet_text}} <a class="yelp_link" ng-href="{{park.url}}">Read More</a></p>
                    </div> 
                  </div>
                </div>
                <div id="featureContent4" ng-controller="speciesController" ng-show="tab4">
                    <div ng-bind-html="textArea"></div>
                </div>
                <div id="campgrounds" ng-controller="campgroundsController" ng-show="tab5">
                  <div id="campgroundsTitle">Top Campground</div>
                  <div ng-show="hideCampgrounds">
                    No campgrounds found!
                  </div>
                  <div ng-hide="hideCampgrounds">
                  <div> <strong>Name:</strong> -{{name}} </div>
                  <div> <strong>Contact:</strong>- 
                    <div ng-repeat="info in contact" ng-show="!hideCampgrounds">
                      <span>{{info.name}}</span>-[<span> {{info.number}}</span>]
                    </div> 
                  </div>
                  <div> <strong>Description:</strong>- {{description}} </div>
                  <div id="campgroundsAmenitiesTitle"> Campground Amenities: </div>
                  <div ng-repeat="info in campgroundinfo" ng-show="!hideCampgrounds">
                    <span> {{info.name}} </span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
  </div>
</body>
</html>
<script>
    $("body").on("click", ".speciesTitle", function() {
        var currentSpecies = $(this).text().trim();
        if ($(this).attr("active") == "true") {
            $(".AllAnimals[species='" + currentSpecies + "']").hide();
            $(this).attr("active", "false");
        } else {
            $(".speciesTitle").attr("active", "false");
            $(this).attr("active", "true");
            $(".AllAnimals[species!='" + currentSpecies + "']").hide();
            $(".AllAnimals[species='" + currentSpecies + "']").show();
        }
    });

  $(document).ready(function(){
    $('#location').keypress(function(e){
      if(e.keyCode === 13 && $('#location').val().length>0)
      $('#searchButton').click();
    });
  });


	$('.about').bind('click', function (event) {
    //$('.aboutbox').css('display','block');
    $('.aboutbox').toggle();
    });
</script>