<!DOCTYPE html>
<html ng-app="parksAndEx">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parks and Exploration</title>
    <meta name="description" content="A Resource for park info">
    <meta name="Charlies Angulars" content="CharliesAngular">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvP71A4zQ3bBjri75-1y6AaLP3s-JfNO0&libraries=places"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <script src="lib/angular/angular.js"></script>

<!--     <script src="lib/jquery/src/jquery.js"></script>
 -->
    <script src="app/app.js"></script>
    <script src="app/homescreen/homescreen.js"></script>
    
    <script src='app/filter/filter.js'></script>
    <script src='app/description/description.js'></script>
	   <script src="app/services/services.js"></script>
    <script src="assets/park_category.js"></script>
    <script src="app/toggleNavbar/toggleNavbar.js"></script>
 
  </head>
  <body>
    <h1> {{test}} </h1>
    <div ng-controller="homescreenController">
      <div ng-hide="searchStatus">
        <div id="popup">
          <div id="searchBox">
            <label>Search For Park By Location or Name</label>
            <input id="location" type="text" name="searchText" value="Mission Dolores Park" ng-model="searched" placeholder="ex: San Francisco, CA or Yosemite">
            <button id="searchButton"  ng-click="submitSearch(searched)">Search</button>
          </div>
        </div>
      </div>
        <div ng-show="searchStatus" id="detailDisplay">
          <span id="logo"> LOGO </span>
          <div id="totalContainer">
            <span id="filterMapContainer" ng-controller="filterController">
              <div id="filterContainer" > <!--Removed Dash from NG_controller-->
                <div id="filterTitle">
                  <p>{{searchText}}</p>
                </div>
                <div id="filterContent" >
                  <ul ng-repeat="loc in locations track by $index"> <!-- sort by distance then rating-->
                    <li>
                      <div ng-click = "rerenderAll(loc.latlng.lat, loc.latlng.lng)" lat={{loc.latlng.lat}} lng={{loc.latlng.lng}}>{{$index + 1}}. {{loc.name}}</div>
                      <div>{{loc.vicinity}}</div>
                      <div>Rating: {{loc.rating}}</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="mapHolder" ngcontroller="mapsController">
                <span id="mapButton" ng-click="toggleSize($event)">+</span>
                <div id="map" class="smallMap"></div>
                
              </div>
            </span>
            <span id="totalDisplayContainer">
              <div id="descriptionContainer" ng-controller="descriptionController">
                <p>Description</p>
                <div id="descriptionContent">{{description}}</div>

            </div>
            <div id="tabContainer" ng-controller="tabsController">
              <div id="navbar">
                <ul id="navbarUl">
                  <li class="navbarLi" ng-click="switchTabs('tab1')">Weather</li>
                  <li class="navbarLi" ng-click="switchTabs('tab2')">New Feature3</li>
                  <li class="navbarLi" ng-click="switchTabs('tab3')">Reviews</li>
                  <li class="navbarLi" ng-click="switchTabs('tab4')">New Features1</li>
                  <li class="navbarLi" ng-click="switchTabs('tab5')">New Features2</li>
                </ul>
              </div>

              <div id="featureContent1" ng-show="tab1">
                <h3>Just a place holder for your awesome contents1</h3>
              </div>
              <div id="featureContent2" ng-show="tab2" >
                <h3>Just a place holder for your awesome contents2</h3>
              </div>
              <div id="featureContent3" ng-show="tab3" >
                <h3>Just a place holder for your awesome contents3</h3> 
              </div>
              <div id="featureContent4" ng-show="tab4">
                <h3>Just a place holder for your awesome contents4</h3> 
              </div>
              <div id="featureContent5" ng-show="tab5">
                <h3>Just a place holder for your awesome contents5</h3> 
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
