body {
    margin: auto 0px;
    background: url(../assets/clouds.jpg) no-repeat fixed center;
    position: absolute;
    width: 100%;
    height: 100%;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
#mapHolder {
     height:300px;
}
#map{
    
}
#popup {
    margin: 100px auto;
    width: 40%;
}
#searchBox {
    background-color: #7a7a52;
    opacity: .6;
    position: absolute;
    margin: auto;
    padding: 50px 0px;
    border: 1px solid #595959;
    border-radius: 10px;
    font-size: 30px;
}
#searchBox label {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
#searchBox > input[type=text] {
    display: block;
    margin: 10px auto 0px auto;
    font-size: 22px;
    line-height: 30px;
    padding: 5px;
    width: 300px;
}
#searchBox > button {
    display: block;
    margin: 15px auto 0px auto;
    font-size: 30px;
    line-height: 40px;
    padding: 8px 25px;
    width: 200px;
}
div, span{
    border: 1px solid black;
}
#totalContainer{
    height:100%;
}
#totalDisplayContainer{
    float:right;
    width: 68%;
}
#filterMapContainer{
    height: 100vh;
    float:left;
    width:30%;
    -width: 250px;
    max-width:300px;
}
#filterContent ul{
    -list-style-type: none;
    margin:0;
    padding: 0; 
}

#filterContent{
    height: 50vh;
    overflow: scroll;
}
#descriptionContainer{
    height: 50%;
    width:100%;
}
#descriptionContent{
    height: 30VH;
    width: 100%;
    overflow: scroll;

}
#mapButton{
       

}
.mapButtonMini{
     float: right;
    border-radius: 25px;
    position: absolute;
    z-index: 99999;
    background: white;
}
.mapButtonEnlarged {
    float: right;
    right: 0;
    top: 0;
    font-size: 50px;
    border-radius: 25px;
    position: absolute;
    z-index: 99999;
    background: white;
    }
.fullMap{
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}
.smallMap{
    height:100%;
    width:100%;
}

/*navbar style here*/

#navbar{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}
.navbarLi {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    border-radius: 10%;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #80dfff;
    color: black;
}
#mainView {
    border: 1px solid black;
    clear: both;
}
.container{
    display:none;
}
.active {
    background-color: #FFF;
    color: #000;
}
