body {
    margin: auto 0px;
    /*background: url(../assets/clouds.jpg) no-repeat fixed center;*/
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Tahoma;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
#tabContentHolder{
   overflow: auto;
    height: 76%;
    background-color: white;
    border-radius: 6px;
    margin: 2%;
}
#mapHolder {
    height: 300px;
    background-color: #dfdce3;
    border: solid 2px #465c8b;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
}
#popup {
    margin: 100px auto;
    width: 40%;
}
#searchBox {
    background-color: #7a7a52;
    opacity: .6;
    position: absolute;
    margin: auto;
    padding: 50px 0px;
    border: 1px solid #595959;
    border-radius: 10px;
    font-size: 30px;
}
#searchBox label {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
#searchBox > input[type=text] {
    display: block;
    margin: 10px auto 0px auto;
    font-size: 22px;
    line-height: 30px;
    padding: 5px;
    width: 300px;
}
#searchBox > button {
    display: block;
    margin: 15px auto 0px auto;
    font-size: 30px;
    line-height: 40px;
    padding: 8px 25px;
    width: 200px;
}
div, span{
   -border: 1px solid #663333;
}
#totalContainer{
    height:100%;
}
/*#totalDisplayContainer{
    float:right;
    width: 68%;
    border-radius: 6px;
}*/
#totalDisplayContainer {
        /* float: right; */
    position: absolute;
    left: 29%;
    width: 68%;
    border-radius: 6px;
    height: 100vh;
    }


#filterMapContainer{
    height: 100vh;
    max-width: 300px;
    position: absolute;
        width: 25%;
}

#filterContent ul{
    -list-style-type: none;
    margin:0;
    padding: 0 5px; 
}

#filterContent{
    height: 50vh;
    overflow: scroll;
}
#filterContainer{
    max-height:49%;
    background-color: #dfdce3;
    border: solid 2px #465c8b;
    border-radius: 6px;
    overflow: auto;
}
.filteredItem{
    padding: 5px;
    background-color: #dfdce3;
    margin-bottom: 4px;
    cursor: pointer;
}
.filteredItem:hover {
    background-color: #93c978;
    color: white;
}
.filteredItemActive {
    background-color: #93c978;
    color: white;
}
#descriptionContainer{
    max-height: 50%;
    width:100%;
    border: 2px solid #465c8b;
    border-radius: 6px;
    padding-bottom: 10px;
    background-color: #dfdce3;
}
#descriptionContent{
    max-height: 30VH;
    width: 90%;
    overflow: scroll;
    margin: 5px auto;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
}
#parkName {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border-bottom: solid 1px;
}
#detailDisplay{
    margin: 20px;
    padding: 20px;
    background-color: #f7ef6a;
    border-radius: 6px;
    border: 2px solid #465c8b;
}
#detailDisplay{
    padding: 10px;
}
#detailDisplay{
    padding: 10px;
}
#mapButton{
       

}
.mapButtonMini{
     float: right;
    border-radius: 25px;
    position: absolute;
    z-index: 99999;
    background: white;
}
.mapButtonEnlarged {
    float: right;
    right: 0;
    top: -130px;
    font-size: 50px;
    border-radius: 25px;
    position: absolute;
    z-index: 99999;
    background: white;
    }
.fullMap{
    position: absolute !important;
    width: 100vw;
    height: 100vh;
    top: -135px;
    left: -32px;
    z-index: 2;
}
.smallMap{
    height:100%;
    width:100%;
}
#logoImage{
        height: 90px;
        float: right;
}
/*navbar style here #dfdce3*/ 

#navbar{
    background-color: #dfdce3;
    position: relative;
    border-radius: 5px;
}
#tabContainer{
    position: relative;
    margin-top: 10px;
    border-radius: 6px;
    border: solid 2px #465c8b;
    background-color: #dfdce3;
    height: 50vh;
    overflow: auto;
}
#navbarUl{
    list-style-type: none;
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.navbarLi{
    background-color: #dfdce3;
    display: inline-block;
    border: 2px solid #465c8b;
    width: 19%;
    padding: 6px 2px 4px 2px;
    border-radius: 4px;
    border-bottom: none;
    border-right: none;
    font-weight: bold;
}

.navbarLi:hover {
    background-color: #93c978;
    color: white;
}

.navbarLiSelected {
    background-color: #93c978;
    color: white;
}

/*weather style here*/

#weather {
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    border: 1px solid black;
}

.sevenDayforcast {
    display: inline-block;
    border: solid 1px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.forecastDate, .forecastIcon, .forcastedHigh, .forcastedLow, .forcastedDescription    {
    display: block;
}

.today {
    /*border: solid 1px;*/
    padding: 0px;
    width: 150px;
    margin: 10px auto;
    /*background-color: #dfdce3;
    border-radius: 4px;*/
}

#currTemp, #todayMin, #todayMax, #todayDescription {
    display: block;
    align: center;
    padding: 5px;
    border-radius: 5px 5px;
}
.AllAnimals{
    display:none;
}
#tabContainer{
    height: 50vh;
    overflow: auto;
}
.speciesTitle{
    cursor: pointer;
}

/*campgrounds style here*/

#campgrounds {
    padding: 20px;
    border-radius: 6px;
}

#campgroundsTitle, #campgroundsAmenitiesTitle {
	font-weight: bold;
}
/*about us styles*/
.entireBox {
    float: left;
    display: inline-block;
    height: 250px;
    width: 170px;
    background-color: #475D8C;;
    padding: 1.2%;
    border-radius: 10%;
    margin: 5px;
}
.content{
    background-color:white;
    border-radius: 10%;
    height:100%;
}
.topSection{
    text-align: center;
    height: 96%;
    padding: 4% 0;
}
.topSection .name{
    color:black;
}
#everything{
    width: 86%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    top: 4px;
}
.profImage{
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
}
.links{
    margin-top: 43px;
}
.socialIcon {
    height: 20px;
    margin: 2px 10px;
    border-radius: 10px;
}
.socialIcon:hover{
    background-color: #f7ef6a;
}
.function{
    font-style: oblique;
    color: #989898;
    font-size: 12px;
}
.aboutbox
{
    margin: auto;
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    background-color: #93C978;
    color: #FFF;
    z-index: 10;
    border-radius: 30px;
    border: 11px solid #465C8B;
        display: none;
}

.about
{
 right: 0px;
 position:absolute;
 width:400px;
 height:400px;
}
