body {
    margin: auto 0px;
    /*background: url(../assets/clouds.jpg) no-repeat fixed center;*/
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Tahoma;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
#mapHolder {
     height:300px;
}
#map{
    
}
#popup {
    margin: 100px auto;
    width: 40%;
}
#searchBox {
    background-color: #7a7a52;
    opacity: .6;
    position: absolute;
    margin: auto;
    padding: 50px 0px;
    border: 1px solid #595959;
    border-radius: 10px;
    font-size: 30px;
}
#searchBox label {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
#searchBox > input[type=text] {
    display: block;
    margin: 10px auto 0px auto;
    font-size: 22px;
    line-height: 30px;
    padding: 5px;
    width: 300px;
}
#searchBox > button {
    display: block;
    margin: 15px auto 0px auto;
    font-size: 30px;
    line-height: 40px;
    padding: 8px 25px;
    width: 200px;
}
div, span{
   -border: 1px solid #663333;
}
#totalContainer{
    height:100%;
}
#totalDisplayContainer{
    float:right;
    width: 68%;
    background-color: #465c8b;
    border-radius: 6px;
}
#filterMapContainer{
    height: 100vh;
    float:left;
    width:30%;
    -width: 250px;
    max-width:300px;
}
#filterContent ul{
    -list-style-type: none;
    margin:0;
    padding: 0 5px; 
}

#filterContent{
    height: 50vh;
    overflow: scroll;
}
#filterContainer{
    background-color: #dfdce3;
    border: solid 2px;
    border-radius: 6px;
}
.filteredItem{
    padding: 5px;
    background-color: #dfdce3;
    margin-bottom: 4px;
}
.filteredItem:hover {
    background-color: #465c8b;
    color: white;
}
#descriptionContainer{
    height: 50%;
    width:100%;
}
#descriptionContent{
    height: 30VH;
    width: 98%;
    overflow: scroll;
    margin: 5px auto;
    background-color: #f5f5f0;
    border-radius: 6px;
}
#detailDisplay{
    padding: 20px;
    background-color: #f7ef6a;
}
#detailDisplay{
    padding: 10px;
}
#mapButton{
       

}
.mapButtonMini{
     float: right;
    border-radius: 25px;
    position: absolute;
    z-index: 99999;
    background: white;
}
.mapButtonEnlarged {
    float: right;
    right: 0;
    top: 0;
    font-size: 50px;
    border-radius: 25px;
    position: absolute;
    z-index: 99999;
    background: white;
    }
.fullMap{
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}
.smallMap{
    height:100%;
    width:100%;
}

/*navbar style here*/

#navbar{
    background-color: #93c178;
    position: relative;
    border-radius: 5px;
}
#tabContainer{
    position: relative;
    margin-top: 10px;
    border-radius: 6px;
    border: solid 1px;
    background-color: #93c178;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}
.navbarLi {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    border-radius: 10%;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #80dfff;
    color: black;
}
#navbarUl{
    list-style-type: none;
    position: relative;
    padding: 0px;
    margin: 0px;
}
.navbarLi{
    background-color: #93c178;
    display: inline-block;
    border: 2px solid;
    width: 19%;
    padding: 6px 2px 4px 2px;
    border-radius: 4px;
    border-bottom: none;
    border-right: none;
    font-weight: bold;
}

/*weather style here*/

#weather {
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

#sevenDayforcast {
    display: inline-block;
    /*border: solid 1px;*/
    padding: 10px;
    text-align: center;
/*    background-color: #dfdce3;
    border-radius: 4px;*/
}

.forecastDate, .forecastIcon, .forcastedHigh, .forcastedLow, .forcastedDescription    {
    display: block;
}

.today {
    /*border: solid 1px;*/
    padding: 0px;
    width: 150px;
    margin: 10px auto;
    /*background-color: #dfdce3;
    border-radius: 4px;*/
}

#currTemp, #todayMin, #todayMax, #todayDescription {
    display: block;
    align: center;
    padding: 5px;
    border-radius: 5px 5px;
}
.AllAnimals{
    display:none;
}
#tabContainer{
    height: 50vh;
    overflow: auto;
}
.speciesTitle{
    cursor: pointer;
}